image: debian:trixie-slim

# Note: You can test changes to this file locally with:
# gitlab-runner exec docker --docker-privileged build

cache:
  paths:
  - .m2/
  - .gradle/

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  JDK_PACKAGE: "openjdk-25-jdk-headless"

before_script:
  - apt-get update
  - apt-get -y upgrade
  - apt-get -y install wget apt-transport-https gnupg curl graphviz
  - apt-get -y install binutils $JDK_PACKAGE
  - java -version

build:
  script:
  - ./gradlew buildCI installDist --scan --info --stacktrace
  - cd build ; sha256sum artifacts/*/* > SHA256SUMS
  artifacts:
    when: always
    paths:
    - build/artifacts
    - build/SHA256SUMS
    - build/site/
