os: linux
language: java

install: true

script:
 - sudo apt-get update && sudo apt-get install oracle-java8-installer
 - java -version
 - ./gradlew jenkinsBuild 

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

jdk:
  - oraclejdk8
