<!DOCTYPE html>
<html ng-app="peers">
<head>
    <title>PEERS</title>
</head>
<body>

<div ng-controller="PeerCtrl">
    <div>
        <h2>Peers</h2>
        <ul>
            <li ng-repeat="peer in peers">{{peer}}</li>
        </ul>
    </div>

    <div>
        <h2>Transactions</h2>
        <ul>
            <li ng-repeat="tx in transactions">{{tx.hash}}</li>
        </ul>
    </div>
</div>

<script src="/webjars/sockjs-client/0.3.4/sockjs.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.js"></script>
<script src="/webjars/angularjs/1.2.3/angular.js"></script>
<script src="/js/peerlist.js"></script>

</body>
</html>
