<!DOCTYPE html>
<html ng-app="peers">
<head>
    <title>PEERS</title>
</head>
<body>

<div ng-controller="PeerCtrl">
    <div>
        <h2>Peers</h2>
        <table>
            <tr>
                <th>address</th>
                <th>best height</th>
                <th>version</th>
            </tr>
            <tr ng-repeat="peer in peers">
                <td>{{peer.socketAddress}}</td>
                <td>{{peer.bestHeight}}</td>
                <td>{{peer.remoteVersion}}</td>
            </tr>
        </table>
    </div>

    <div>
        <h2>Transactions</h2>
        <table>
            <tr>
                <th>version</th>
                <th>confirmations</th>
                <th>hash</th>
            </tr>
            <tr ng-repeat="tx in transactions">
                <td>{{tx.version}}</td>
                <td>{{tx.confirmations}}</td>
                <td>{{tx.hash}}</td>
            </tr>
        </table>
    </div>
</div>

<script src="/webjars/sockjs-client/0.3.4/sockjs.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.js"></script>
<script src="/webjars/angularjs/1.4.8/angular.js"></script>
<script src="/js/peerlist.js"></script>

</body>
</html>
